<h1 class="team_desc">Bienvenue <%= @name %> sur The Gossip Project!</h1>
<h4 class="team_desch2">Racontes nous tous les petits (c'est pas vrai on veut les plus gros) potins que tu connais sur THP!</h4>